body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  #taskbar {
    background-color: #4b77ad7b; /* Set the background color of the taskbar */
    padding: 20px; /* Adjust the padding as needed */
    color: #fff; /* Set the text color */
    text-align: center;
  }

  #taskbar a {
    color: #fff; /* Set the color of the taskbar links */
    text-decoration: none; /* Remove underlines from links */
    margin: 0 10px; /* Adjust spacing between links */
    padding: 5px 10px; /* Adjust padding for each link */
    border-radius: 5px; /* Add rounded corners to links */
    transition: background-color 0.7s; /* Smooth transition for background color change */
  }

  #taskbar a:hover {
    background-color: #555; /* Change background color on hover */
  }

  #page {
      width: 80%;
      height: 200%;
      padding: 20px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(56, 194, 204, 0.555);
      border-radius: 10pt;
  }